{% extends 'main_app/base.html' %}

{% block content %}

<h2>Tambah Laporan</h2>

<form method="POST" id="reportForm">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success" id="submitBtn">
        Simpan
    </button>

    <a href="{% url 'report_list' %}" class="btn btn-secondary">
        Kembali
    </a>
</form>

<script>
document.getElementById("reportForm").addEventListener("submit", function(){
    let btn = document.getElementById("submitBtn");
    btn.innerText = "Loading...";
    btn.disabled = true;
});
</script>

{% endblock %}
